.toolbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    border-right: 2px solid var(--c-black);
    padding: 1rem;
    box-sizing: border-box;
}

.toolbox-footer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.toolbox-footer > h1 {
    margin: 0;
    font-size: 18pt;
    color: var(--c-black);
}

.node-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.logo {
    display: block;
    background-image: url(bifrost.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 64px;
    height: 64px;
}

.toolbox-node-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    border: 2px solid var(--c-black);
    text-align: center;
    padding: 0.5rem;
    border-radius: 6px;
    border-bottom: 4px  solid var(--c-black);
    padding-left: 1rem;
    box-sizing: border-box;
    font-weight: 600;
}

.toolbox-node-item:hover {
    cursor: grab;
}